# Database
DATABASE_URL="mysql://username:password@localhost:3306/invest_diary"

# Auth
JWT_SECRET="your-32-character-random-secret-key-change-this-in-production"

# App
NUXT_PUBLIC_APP_NAME="投資日記"
NUXT_PUBLIC_SITE_URL="https://trade-basic.com"

# Telegram Bot
TELEGRAM_BOT_TOKEN="123456789:ABCdef..."
TELEGRAM_WEBHOOK_SECRET="random-secret-string"
